body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  background: #6c4fbb;
  color: #6c4fbb;
  background-image: url("https://source.unsplash.com/1300x765/?rockets space");
}

/* Estilos do botão */
.neon {
  font-size: 64px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 16px 64px;
  border: #fff 8px solid;
  border-radius: 16px;
  box-shadow: inset 0 0 32px 0 #6c4fbb, 0 0 32px 0 #6c4fbb;
  text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px currentColor;
  position: relative;
  margin-top: 120px;
}

/* Reflexo do botão */
.neon::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  background: #6c4fbb;
  width: 100%;
  height: 100%;
  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
  pointer-events: none;
}

/* Estilos para hover */
.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 128px 32px #6c4fbb;
  opacity: 0;
  background-color: #fff;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover::before,
.neon:hover::after {
  opacity: 1;
}

.neon:hover {
  color: #6c4fbc;
  text-shadow: none;
}

/*copyright*/
#bydev {
font-size: 24px;
font-family: roboto;
color: #fff;
}
