body {
    font-family: 'Roboto Mono',monospace;
    background-color: #000000b6;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #dbd3ff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  *:focus {
    outline: 0 !important;
  }


.espaçamento {
  margin: 0 auto;
  height:40px;
}

.calculadora {
  margin: 0 auto;
  width: 294px;
  background-color: #3b3a3a;
  border: 1px solid #5f5f5f;
}

.tela {
  width: 279px;
  border: 0;
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: #6e6e6e;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  color: #00ff0d;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.contas div {
  color: #1eff00;
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #2600ff;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.painel-numeros {
  display: inline-block;
}

.numeros div {
  color: #1100ff;
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #00ff40;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.igual {
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 102px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #0044ff;
  background-color: #00ff37;
  transition: all .2s ease-in-out;
}
