body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    z-index: -1;
        background: -webkit-linear-gradient(-120deg, #4855ff, #6f00ff, #0099ff);
        background: -o-linear-gradient(-120deg, #2d8bfe, #9b50fc, #ff0026);
        background: -moz-linear-gradient(-120deg, #5443f2, #6f00ff, #ff0026);
        background: linear-gradient(-120deg, #761bfe, #30006f, #ff0026);
        background-size: 300%;
        -webkit-animation: loop 20s ease infinite;
        -moz-animation: loop 20s ease infinite;
        animation: loop 10s ease infinite;
      }
      
      @-webkit-keyframes loop {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }
      @-moz-keyframes loop {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }
      @keyframes loop { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }

div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    /* position: relative; */
    cursor: pointer;
    font-family: Roboto;
    font-size: 3em;
    color: white;
    width: 200px;
    height: 80px;
    background-image: linear-gradient(90deg, #001eff, #00ffb7, #ff0026, #0014ad);
    background-size: 400%;
    border-radius: 40px;
}
button::after {
    content: '';
    opacity: 0;
}
button:hover::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 100px);
    border-radius: 40px;
    z-index: -1;
    background-image: linear-gradient(90deg, #5500ff, #1eff00, #ff00aa, #5800a5);
    background-size: 400%;
    filter: blur(40px);
    opacity: 1;
    transition: opacity .5s linear;
    animation: animacao 5s linear infinite;
}

button:hover {
    animation: animacao 5s linear infinite;
}

@keyframes animacao {
    from{
        background-position: 0%;
    }
    to{
        background-position: 400%;
    }
}